@import url(../css/header.css);
@import url(../css/footer.css);

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}


li {
    list-style: none;
}


img {
    max-width: 100%;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.content__container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    height: 100%;
}

.content_title {
    margin: 21px 0px 40px 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 151%;
    transition: all 1s ease 0s;
}

.achievmentsblock {}

.achievments__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 50px 0 100px 65px;
    border-left: 1px dashed #ddd;
}

.achievments__year {
    left: -7px;
    position: absolute;
    top: -7px;
    display: flex;
}


.circle {
    background: #fff;
    border: 4px solid #2a88ff;
    border-radius: 100%;
    box-sizing: border-box;
    height: 14px;
    margin-right: 17px;
    width: 14px;
}

.achievments__imgrow {}

.achievments__imgrow h3 {
    display: none;
}

.achivments__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 280px;
    height: 207px;
    margin-right: 60px;
}

.achivments__img img {
    height: auto;
    width: auto;
}





.achievments__info {
    max-width: 730px;
}

.achievments__info h3 {
    padding-bottom: 20px;
}

.achievments__info p {
    color: #6b6b6b;
    font-size: 16px;
    line-height: 24px;
}


.achivments__imgborder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 280px;
    height: 207px;
    margin-right: 60px;
    border: 1px solid #D9D9D9;

}


.achievments__info span {
    color: black;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
}

.achievments__itemnoborder {
    display: flex;
    align-items: center;
    position: relative;
    padding: 50px 0 100px 65px;

}


@media screen and (max-width:768px) {
    .content__container {
        margin: 0 auto;
        max-width: 576px;
        width: 90%;
        height: 100%;
    }

    .content_title {
        margin: 21px 0px 40px 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 151%;
        transition: all 1s ease 0s;
    }

    .achievmentsblock {}

    .achievments__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 50px 0 100px 65px;
        border-left: 1px dashed #ddd;
    }

    .achievments__year {
        left: -7px;
        position: absolute;
        top: -7px;
        display: flex;
    }


    .circle {
        background: #fff;
        border: 4px solid #2a88ff;
        border-radius: 100%;
        box-sizing: border-box;
        height: 14px;
        margin-right: 17px;
        width: 14px;
    }

    .achievments__imgrow {}

    .achievments__imgrow h3 {
        display: none;
    }

    .achivments__img {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 280px;
        height: 207px;
        margin-right: 60px;
        margin-bottom: 20px;

    }

    .achivments__img img {
        height: auto;
        width: auto;
    }



    .achievments__info {
        max-width: 730px;
    }

    .achievments__info h3 {
        padding-bottom: 20px;
        margin-top: 20px;
        font-weight: 400;
    }

    .achievments__info p {
        color: #6b6b6b;
        font-size: 16px;
        line-height: 24px;
    }


    .achivments__imgborder {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 280px;
        height: 207px;
        margin-right: 60px;
        border: 1px solid #D9D9D9;
    }

    .achievments__info span {
        color: black;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
    }

    .achievments__itemnoborder {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 50px 0 100px 65px;

    }
}

@media screen and (max-width:576px) {
    .content__container {
        margin: 0 auto;
        max-width: none;
        width: 90%;
        height: 100%;
    }

    .content_title {
        margin: 21px 0px 40px 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 151%;
        transition: all 1s ease 0s;
    }

    .achievmentsblock {}

    .achievments__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 20px 0 50px 0px;
        border-left: none;
    }

    .achievments__year {
        left: 0px;
        position: absolute;
        top: -7px;
        display: flex;
    }


    .circle {
        background: #fff;
        border: 4px solid #2a88ff;
        border-radius: 100%;
        box-sizing: border-box;
        height: 14px;
        margin-right: 17px;
        width: 14px;
    }

    .achievments__imgrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
        width: 100%;
    }

    .achievments__imgrow h3 {
        display: block;
        font-weight: 400;
    }

    .achivments__img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        width: 280px;
        height: 128px;
        margin-right: 20px;
        margin-bottom: 0px;
        transition: all 1s ease 0s;
    }

    .achivments__img:hover {
        transform: scale(0.9);
    }

    .achivments__img img {
        height: auto;
        width: auto;
        transition: all 1s ease 0s;
    }

    .achivments__img img:hover {
        transform: scale(0.9);
    }

    .achievments__info {
        width: 100%;
    }

    .achievments__info h3 {
        display: none;
        padding-bottom: 20px;
    }

    .achievments__info p {
        color: #6b6b6b;
        font-size: 16px;
        line-height: 24px;
    }


    .achivments__imgborder {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 330px;
        height: 128px;
        margin-right: 30px;
        border: 1px solid #D9D9D9;
        margin-left: 0px;
        margin-bottom: 40px;
    }

    .achievments__info span {
        color: black;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
    }

    .achievments__itemnoborder {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 20px 0 20px 0px;

    }
}