@import url(../css/header.css);
@import url(../css/footer.css);

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}


img {
    max-width: 100%;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.content__container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    height: 100%;
}

.content__title {
    margin: 21px 0px 40px 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 151%;
    color: #BDBDBD;
}

.content_title a {
    font-weight: 400;
    font-size: 12px;
    line-height: 151%;
    color: #BDBDBD;
}


.content_title span {
    font-weight: 700;
    font-size: 12px;
    line-height: 151%;

}

.content__maintitle {
    margin-bottom: 25px;
}


p {
    color: #6B6B6B;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.content__vacancy {
    margin: 50px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #6B6B6B;
}


li::marker {
    color: #2A88FF;
}

.content__row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.content__img img {
    width: 565px;
    height: 316px;
}

.content__maintext h2 {
    margin-bottom: 20px;
}

.content__maintext p {
    line-height: 30px;
}

.content__maintext {
    max-width: 800px;
}


.content__imgmeeting img {
    width: 565px;
    height: 316px;
}

.content__meetingtext {
    margin-left: 40px;

}

.content__vacancy {}

.content__vacancy h2 {
    color: black;
    margin-bottom: 20px;
}

.content__vacancy li {
    line-height: 40px;
}


@media screen and (max-width:1040px) {
    .content__container {
        margin: 0 auto;
        max-width: none;
        width: 90%;
        height: 100%;
    }

    .content__title {
        margin: 21px 0px 40px 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 151%;
        color: #BDBDBD;
    }

    .content_title a {
        font-weight: 400;
        font-size: 12px;
        line-height: 151%;
        color: #BDBDBD;
    }


    .content_title span {
        font-weight: 700;
        font-size: 12px;
        line-height: 151%;

    }

    .content__maintitle {
        margin-bottom: 25px;
    }


    p {
        color: #6B6B6B;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
    }

    .content__vacancy {
        margin: 50px 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #6B6B6B;
    }


    li::marker {
        color: #2A88FF;
    }

    .content__row {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }



    .content__img img {
        width: 700px;
        height: 350px;
    }

    .content__maintext h2 {
        margin-bottom: 20px;
    }

    .content__maintext p {
        line-height: 30px;
        margin-bottom: 20px;
    }

    .content__maintext {
        max-width: 100%;
    }

    .content__imgmeeting img {
        width: 700px;
        height: 350px;
    }

    .content__meetingtext {
        margin-left: 0px;
    }

    .content__vacancy {}

    .content__vacancy h2 {
        color: black;
        margin-bottom: 20px;
    }

    .content__vacancy li {
        line-height: 40px;
    }
}