@import url(../css/header.css);
@import url(../css/footer.css);

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}


img {
    max-width: 100%;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.content__container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    height: 100%;
}

.content__title {
    margin: 21px 0px 40px 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 151%;
    color: #BDBDBD;
}

.content_title a {
    font-weight: 400;
    font-size: 12px;
    line-height: 151%;
    color: #BDBDBD;
}


.content__title span {
    font-weight: 700;
    font-size: 12px;
    line-height: 151%;

}

.content__maintitle {
    margin-bottom: 25px;
}

.content__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 38px;
}


.content__brain {
    width: 45%;
}

.content__brain img {
    max-height: 100%;
    width: auto;
}

.content__braintitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #6B6B6B;
    margin-bottom: 21px;
    margin-top: 17px;
}

.content__braintitle span {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
}

.content__braintext {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6B6B6B;
}

.content__braintext a {
    color: #2b88ff;
    text-decoration: none;
    transition: all .2s ease;
}

.content__braintext a:hover {
    color: #2b88ff;
    text-decoration: underline;
}

.content__brainsource {
    width: 45%;
}

.content__brainsource img {
    max-height: 100%;
    width: auto;
}


.content__brainsourcetitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #6B6B6B;
    margin-bottom: 21px;
    margin-top: 17px;
}

.content__brainsourcetitle span {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
}

.content__brainsourcetext {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6B6B6B;
}

@media screen and (max-width:556px) {
    .content__container {
        margin: 0 auto;
        max-width: none;
        width: 90%;
        height: 100%;
    }

    .content__title {
        margin: 21px 0px 40px 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 151%;
        color: #BDBDBD;
    }

    .content_title a {
        font-weight: 400;
        font-size: 12px;
        line-height: 151%;
        color: #BDBDBD;
    }


    .content__title span {
        font-weight: 700;
        font-size: 12px;
        line-height: 151%;

    }

    .content__maintitle {
        margin-bottom: 25px;
    }

    .content__row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 38px;
    }


    .content__brain {
        width: 100%;
    }

    .content__brain img {
        max-height: 100%;
        width: auto;
    }

    .content__braintitle {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        color: #6B6B6B;
        margin-bottom: 21px;
        margin-top: 17px;
    }

    .content__braintitle span {
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        color: #000000;
    }

    .content__braintext {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #6B6B6B;
    }

    .content__braintext a {
        color: #2b88ff;
        text-decoration: none;
        transition: all .2s ease;
    }

    .content__braintext a:hover {
        color: #2b88ff;
        text-decoration: underline;
    }

    .content__brainsource {
        width: 100%;
        margin-top: 40px;
    }

    .content__brainsource img {
        max-height: 100%;
        width: auto;
    }


    .content__brainsourcetitle {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        color: #6B6B6B;
        margin-bottom: 21px;
        margin-top: 17px;
    }

    .content__brainsourcetitle span {
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        color: #000000;
    }

    .content__brainsourcetext {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #6B6B6B;
    }
}